<!-- templates/registration/login.html -->

{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    
    <form method="post" style="width: 100%; max-width: 430px; padding: 15px; margin: auto;" class="form-signin">
        <h2 style="text-align: center" >Login</h2>
        <div class="text-center mb-4" style="width: 100%; max-width: 420px; padding: 15px; margin: auto; margin-top:50px">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
    <!--<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Login for Form 1</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd">Forget Password?</a>
                        </div>
                    </form>
                </div>
    </div>-->
{% endblock %}
