<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% if user.is_authenticated %}
{% block head %}
    
    <div >Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
    </div>
{% endblock %}
{% endif %}

{% block content %}
{% if user.is_authenticated %}
    
  <h1 style="text-align:center; font-family: Sans-Serif; color:#949599;">Цитатник</h1>
  <div class="container">
        <a href="{% url 'upload-post' %}" class="navbar-link btn-lg" style="background-color:rgb(51, 139, 255);color:#ffffff;">Додати цитату</a>
        <div class="row">
      
          <!-- Blog Entries Column -->
          <div class="col-md-8 mt-3 left">
            {% for post in object_list %}
            <div class="card mb-4">
              <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text text-muted h6">{{ post.author }} </p>
                <p class="card-text">{{post.body|slice:":200" }}</p>
                <a href="{% url 'post_detail' post.pk %}"
                   class="btn btn-primary">
                    Детальніше
                </a>
                <br>
              </div>
            </div>
            {% endfor %}
      
          </div>
          {% block sidebar %}
            {% include 'sidebar.html' %}
          {% endblock sidebar %}
        </div>
      </div>
      </div>
  
{% else %}
  <div class="text-center mb-4" style="width: 100%; max-width: 420px; padding: 15px; margin: auto; margin-top:50px">
      <p>You are not logged in</p>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-lg btn-primary btn-block" type="submit"><a href="{% url 'login' %}" style="color: white;">Log in</a></button>
  </div>
  
{% endif %}

{% endblock %}