<!-- templates/registration/login.html -->

{% extends 'base.html' %}

{% block title %}You are logout{% endblock %}

{% block content %}
    
    <form method="post" style="width: 100%; max-width: 430px; padding: 15px; margin: auto;" class="form-signin">
        <h2 style="text-align: center" >Login</h2>
        <div class="text-center mb-4" style="width: 100%; max-width: 420px; padding: 15px; margin: auto; margin-top:50px">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
    {% endblock %}
