<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% if user.is_authenticated %}
{% block head %}
    
    <div >Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
    </div>
{% endblock %}
{% endif %}

{% block content %}
{% if user.is_authenticated %}
    
  <h1 style="text-align:center; font-family: Sans-Serif; color:#949599;">Цитатник</h1>
  <div class="container">
        <div class="row">
      
          <!-- Blog Entries Column -->
          <div class="col-md-8 mt-3 left">
            <h5>Заголовок:</h5>
            <p>{{ post.title }}</p>
            <br>
            <h5>Автор:</h5>
            <p>{{ post.author }}</p>
            <br>
            <h5>Цитата:</h5>
            <p>{{ post.body }}</p>
            <br>
            <h5>Likes:</h5>
            <p>{{ post.likes.all.count }}</p>

            <br><br>
            <br><br>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn">
                    Like
                </button>

            </form>
          
        </div>
        {% block sidebar %}
        {% include 'sidebar.html' %}
        {% endblock sidebar %}
      </div>
      </div>
  
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

{% endblock %}