{% block sidebar %}



<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Про нас</h5>
        <div class="card-body">
            <p class="card-text"> Цитатник - сайт для любителів цитат і один з найбільших цитатників в інтернеті.

                    Тут ви маєте змогу знайти цитати на будь-яку тему і смак...
                    </p>
        </div>
    </div>
</div>

{% endblock sidebar %}