<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post" style="width: 100%; max-width: 430px; padding: 15px; margin: auto;" class="form-signin"></form>
      {% csrf_token %}
      {{ form.as_p }}
    <button type="submit" class="btn btn-lg btn-primary">Sign up</button>
  </form>
{% endblock %}