{% extends 'base.html' %}
{% block title %}Add new post{% endblock %}

{% if user.is_authenticated %}
{% block head %}
    
    <div >Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
    </div>
{% endblock %}
{% endif %}


{% block content %}
    <h1 class="display-4" style="background-color:#5c5c5c;color:#949599; text-align: center;">Upload Post</h1>
    {% block sidebar %}
        {% include 'sidebar.html' %}
    {% endblock sidebar %}
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light' style="border-radius:10px;background-color:#cccdcf;">
            {% for field in upload_form %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        
    </form>
    
{% endblock %}